//======================================
//COPY
//======================================

.headline {
    font-family: "Stag-Bold-I;";
    font-size:4em;
    margin: .5em auto 0 auto;
    padding-left:12px;
    width:1488px;
}

.sentence {
    font-family: "BentonSans", sans-serif;
    font-size:.9em;
    margin: 0 auto 20px auto;
    padding-left:12px;
    width:1488px;
}
