//======================================
//GRID
//======================================

.intro-wrap {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    max-width:100%;
    margin-top:.7em;
}

.block-house {
    display:flex;
    justify-content:center;
    flex-direction:row;
    padding:0 12px;
    max-width:100%;
    margin-top:.7em;
}

.block-style-1 {
    display:block;
    height:363px;
    margin-bottom:12px;
    max-width:738px;
    overflow:hidden;
}

.block-style-1 img {
    transform:translateY(-18%);
}

.block-style-2 {
    display:block;
    min-height:363px;
    margin-bottom:12px;
    max-width:363px;
    overflow:hidden;
}

.block-style-2 img {
    min-width:363px;
}

.block-style-1:hover {
    cursor:pointer;
    opacity:.8;
    transition: all .3s ease-in;
}
.block-style-2:hover {
    cursor:pointer;
    opacity:.8;
    transition: all .3s ease-in;
}

.margin-fix-1{
    margin-right:12px;
}

.margin-fix-2{
    margin-top:0px;
}

 img {
    min-height:363;
    max-width:100%;
    opacity:1;
 }
