//======================================
//TYPOGRAPHY
//======================================

@import url('https://fonts.googleapis.com/css?family=Lilita+One');

@font-face {
  font-family: "Stag-Bold-I;";
  src:   url("../fonts/Stag-BoldItalic.otf")  format("opentype");

}

@font-face {
    font-family: "BentonSans";
    src: url("../fonts/Benton-Sans-Medium.otf") format("opentype");
}
